#contact {
    background: #425E5E;
    height: auto;
}

.contact-wrapper {
    padding: 50px 5px;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
}

.contact-wrapper>h1 {
    font-size: 5vw;
    letter-spacing: 1vw !important;
    color: #F5F5F5;
}



form {
    text-align: left;
}

.address-box {
    max-width: 460px;
    margin: 0 auto;
    color: #F5F5F5;
    font-size: 1.2vw;
}