#faq-section {
    background: #75B2AD;
}

.faq-wrapper {
    max-width: 1140px;
    margin: 0 auto;
    padding: 40px 60px 60px 60px;

}

.accordion-button {
    border: none !important;
    border: 1px solid #27363B !important;
    border-radius: 4px;
}

.accordion-button::after {
    background-image: url("../../../../../Images/plus.svg")
}

.accordion-button:not(.collapsed)::after {
    background-image: url("../../../../../Images/minus.svg")
}

.accordion-body,
.accordion-collapse {
    border: none !important;
}

.accordion-button {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 1rem 1.25rem;
    font-size: 1rem;
    font-weight: 600;
    color: #212529;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 0;
    overflow-anchor: none;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out, border-radius .15s ease;
}