#faq-section {}

.header-banner-faq {
    background: url("../../../../../Images/ibanner.jpg");
    background-color: rgba(0, 0, 0, .6);
    background-blend-mode: multiply;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    padding: 60px;
}

.faq-wrapper {
    padding: 50px 0px !important;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
}

.faq-wrapper>.header-banner-faq>h1 {
    font-size: 4vw;
    letter-spacing: 1vw !important;
    color: #FFFFFF;
    font-weight: 600;
    text-transform: uppercase;
}


.accordion-button {
    border: none !important;
    border: 1px solid #27363B !important;
    border-radius: 4px;
}

.accordion-button::after {
    background-image: url("../../../../../Images/plus.svg");
}

.accordion-button:not(.collapsed)::after {
    background-image: url("../../../../../Images/minus.svg")
}

.accordion-body,
.accordion-collapse {
    border: none !important;
}

.accordion-button {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 1rem 1.25rem;
    font-size: 1rem;
    font-weight: 600;
    color: #212529;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 0;
    overflow-anchor: none;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out, border-radius .15s ease;
}

.accordion-button>.btn {
    background: transparent;
}

.accordion-button:not(.collapsed) {
    color: #000000;
    background-color: #FF9211;
}

.accordion-button:focus {
    z-index: 3;
    border-color: none;
    outline: 0;
    box-shadow: none;
}

.accordion-body {
    color: #000000;
    font-weight: 500;
    text-align: left;
}