#requirements {
    background: #425E5E;
    padding: 50px 0px;
    height: auto;
    color: #F5F5F5;
}

.req-container {
    max-width: 1140px;
    margin: 0 auto;
    height: auto;
    text-align: center;
    padding: 30px;
}

.req-wrapper {}

.req-wrapper>h1 {
    font-size: 5vw;
    letter-spacing: 1vw !important;
    color: #F5F5F5;
}

.req-wrapper>ul>li {
    list-style: none
}




table {
    width: 100%;
    background: #27363B;
}

table tr th {
    background-color: #F8F9FA;
    color: #27363B;
    text-align: center;
}

table tr td {
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
    white-space: nowrap;
    padding: 20px 10px;

}

table tr:nth-child(odd) {
    background-color: rgba(171, 206, 227, .3);
}

table tr:hover {
    background-color: rgba(171, 206, 227, 1);
    color: #333333;
}

table th,
table td {
    padding: 0.5rem;
}

@media screen and (max-width: 700px) {
    table th {
        display: none;
    }

    table tr {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-areas: "top-left top-right""bottom-left bottom-right";
    }

    table tr td:first-child {
        font-size: 1em;
    }

    table tr td {
        padding: 0.1rem;
        max-width: 100%;
        overflow: hidden;
    }

    table tr td:nth-child(3),
    table tr td:nth-child(4) {
        text-align: right;
    }

    table tr td.name {
        grid-area: top-left;
    }

    table tr td.company {
        grid-area: bottom-left;
    }

    table tr td.phone {
        grid-area: top-right;
    }

    table tr td.email {
        grid-area: bottom-right;
    }
}