@media all {

    div,
    span,
    h2,
    p,
    a {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
    }

    h2 {
        margin-bottom: 15px;
    }

    p {
        margin: 0 0 15px;
    }

    #Acquainted {
        padding: 30px 0px;
        background: #FCFCFC;
    }

    a,
    a:visited,
    a:focus {
        text-decoration: none;
        outline: 0;
    }

    a:hover {
        text-decoration: underline;
    }

    p a,
    p a:visited {
        line-height: inherit;
    }

    a.button {
        display: inline-block;
        padding: 11px 20px;
        margin-bottom: 15px;
        cursor: pointer;
        margin-right: 7px;
        border: 0;
        border-radius: 5px;
        position: relative;
        overflow: hidden;
        box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .03), inset 0px 4px 3px -2px rgba(0, 0, 0, .07);
    }

    a.button_js {
        padding: 0;
    }

    a.button .button_label {
        display: block;
        float: left;
        position: relative;
        z-index: 2;
    }

    a.button .button_label {
        padding: 11px 20px;
    }

    @media only screen and (min-width: 768px) {
        a:hover.button {
            text-decoration: none;
        }

        a.button:after {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 0;
            background: rgba(0, 0, 0, .05);
            z-index: 1;
            transition: all .3s;
        }

        a.button:hover:after {
            width: 100%;
        }
    }

    .button-flat a.button {
        background-image: none;
        border-width: 0;
        border-style: solid;
        border-radius: 0;
        box-shadow: inset 0 0 0 0;
        -webkit-appearance: none;
    }

    @media only screen and (min-width: 768px) {
        .button-flat a.button:after {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            z-index: 1;
            transition: all .3s;
            background: rgba(0, 0, 0, .07);
            opacity: 0;
        }

        .button-flat a.button:hover:after {
            width: 100%;
            opacity: 1;
        }
    }

    .section {
        position: relative;
    }

    .section_wrapper {
        max-width: 1220px;
        margin: 0 auto;
        position: relative;

    }

    .section_wrapper:after {
        clear: both;
        content: " ";
        display: block;
        height: 0;
        visibility: hidden;
    }

    .mcb-wrap {
        float: left;
        position: relative;
        z-index: 1;
        box-sizing: border-box;
        background: #FCFCFC !important;
    }

    .column {
        float: left;
        margin: 0 1% 40px;
    }

    .equal-height-wrap .mcb-wrap .mcb-wrap-inner {
        position: relative;
        float: left;
        width: 100%;
    }

    .equal-height-wrap .mcb-wrap.valign-middle .mcb-wrap-inner {
        top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    .equal-height-wrap .mcb-wrap.valign-bottom .mcb-wrap-inner {
        top: 100%;
        -webkit-transform: translateY(-100%);
        -moz-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        -o-transform: translateY(-100%);
        transform: translateY(-100%);
    }

    .one-fifth.mcb-wrap {
        width: 20%;
    }

    .three-fifth.mcb-wrap {
        width: 60%;
    }

    .one.column {
        width: 98%;
    }

    .clearfix:before,
    .clearfix:after {
        content: '\0020';
        display: block;
        overflow: hidden;
        visibility: hidden;
        width: 0;
        height: 0;
    }

    .clearfix:after {
        clear: both;
    }

    .clearfix {
        zoom: 1;
    }
}

/*! CSS Used from: https://www.buybackscreens.com/wp-content/themes/betheme/css/shortcodes.css?ver=1.0.1553261026 ; media=all */
@media all {
    .column_button .button {
        margin: 0 !important;
        vertical-align: middle;
    }

    .button_align.align_center {
        text-align: center;
    }

    .fancy_heading {
        text-align: center;
    }

    .fancy_heading .title {
        font-size: 42px;
        line-height: 42px;
    }

    .mcb-section.bg-cover {
        background-size: cover;
    }

    ::-moz-selection {
        color: #fff;
    }

    ::selection {
        color: #fff;
    }
}

/*! CSS Used from: https://www.buybackscreens.com/wp-content/themes/betheme/css/responsive.css?ver=1.0.1553261026 ; media=all */
@media all {
    @media only screen and (max-width: 1239px) {
        a[href^=tel] {
            color: inherit;
            text-decoration: none;
        }

        .no-hover-tablet a.button:after {
            display: none;
        }
    }

    @media only screen and (min-width: 960px) and (max-width: 1239px) {
        .section_wrapper {
            max-width: 940px;
        }
    }

    @media only screen and (min-width: 768px) and (max-width: 959px) {
        .section_wrapper {
            max-width: 708px;
        }
    }

    @media only screen and (max-width: 767px) {

        .section_wrapper .mcb-wrap,
        .section_wrapper .column {
            margin: 0;
            width: 100% !important;
            clear: both;
        }

        .section_wrapper {
            max-width: 700px !important;
            padding-left: 33px !important;
            padding-right: 33px !important;
        }

        .section_wrapper .column {
            margin: 0 0 20px;
            height: auto !important;
        }

        .column_placeholder>.placeholder {
            height: 0;
        }

        .section {
            background-attachment: scroll !important;
            height: auto !important;
        }

        .equal-height-wrap .mcb-wrap {
            height: auto !important;
        }

        .equal-height-wrap .mcb-wrap .mcb-wrap-inner {
            top: 0 !important;
            -webkit-transform: none !important;
            -moz-transform: none !important;
            -ms-transform: none !important;
            -o-transform: none !important;
            transform: none !important;
        }

        .fancy_heading h2 {
            font-size: 30px;
            line-height: 30px;
        }
    }
}

/*! CSS Used from: Embedded */
a {
    color: #ff9211;
}

a:hover {
    color: #ff9211;
}

*::-moz-selection {
    background-color: #d1d1d1;
    color: #000;
}

*::selection {
    background-color: #d1d1d1;
    color: #000;
}

.fancy_heading .inside {
    color: #a8a8a8;
}

h2 {
    color: #0a0a0a;
}

a.button {
    background-color: #FF9211;
    color: #FFFFFF;
}

::-webkit-input-placeholder {
    color: #929292;
}

::-moz-placeholder {
    color: #929292;
}

:-ms-input-placeholder {
    color: #929292;
}

:focus::-webkit-input-placeholder {
    color: #929292;
}

:focus::-moz-placeholder {
    color: #929292;
}

h2 {
    font-family: "Arial", Arial, Tahoma, sans-serif;
}

h2 {
    font-size: 30px;
    line-height: 34px;
    font-weight: 300;
    letter-spacing: 0;
}

@media only screen and (min-width:768px) and (max-width:959px) {
    h2 {
        font-size: 26px;
        line-height: 29px;
        letter-spacing: 0;
    }

    .fancy_heading .title {
        font-size: 38px;
        line-height: 38px;
    }
}

@media only screen and (min-width:480px) and (max-width:767px) {
    h2 {
        font-size: 23px;
        line-height: 26px;
        letter-spacing: 0;
    }

    .fancy_heading .title {
        font-size: 34px;
        line-height: 34px;
    }
}

@media only screen and (max-width:479px) {
    h2 {
        font-size: 18px;
        line-height: 20px;
        letter-spacing: 0;
    }

    .fancy_heading .title {
        font-size: 30px;
        line-height: 30px;
    }
}

@media only screen and (min-width:1240px) {
    .section_wrapper {
        max-width: 1220px;
    }
}

@media only screen and (max-width:767px) {
    .section_wrapper {
        max-width: 480px !important;
    }
}

/*! CSS Used from: Embedded */
a.calllink {
    color: #ff9211;
    font-size: 122%;
}

a.calllink:hover {
    color: #000;
    text-decoration: underline;
}

p.callp {
    background: #dcdcdc;
    font-size: 20px;
    line-height: 28px;
    padding: 20px;
}

a.button .button_label {
    min-width: 170px;
    padding: 11px 20px;
    text-align: center;
}

@media only screen and (max-width:479px) {
    .section.mcb-section.bg-cover {
        padding-top: 0 !important;
    }
}