#quality-section {
    height: auto;
    padding: 50px 25px;
    padding-bottom: 70px
}

.qd-wrapper {
    max-width: 1140px;
    margin: 0 auto;
    color: #F5F5F5;
}

.ab-part {
    background: #C7C7C7;
    height: 400px;
    width: 100%;
    padding: 7vw;
    color: #222A2F;
}

.c-part {
    background: #DFE8E7;
    height: 400px;
    width: 100%;
    padding: 7vw;
    color: #222A2F;
}

.heading-part {
    max-width: 1140px;
    text-align: center;
    color: #333333;
    padding: 0;
    padding-bottom: 20px;
}

.heading-part>h1 {
    font-size: 3vw;
    font-weight: 600;
    text-align: left;
    letter-spacing: .3vw;
}

@media (max-width: 991px) {
    .heading-part>h1 {
        font-size: 2rem;
    }
}