#packaging {
    background: #FFFFFF;
    height: auto;
    padding: 30px 5px;
    text-transform: uppercase;
    list-style: none !important;
}



.packaging-wrapper {
    max-width: 1140px;
    margin: 0 auto;
    color: #130e0e;
    text-align: center;

}

.packaging-wrapper>.packaging-heading>h1 {
    font-size: 5vw;
    letter-spacing: 1vw !important;
    color: #FFFFFF;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
}

.packaging-heading {
    background: url("../../../../Images/ibanner.jpg");
    background-color: rgba(0, 0, 0, .6);
    background-blend-mode: multiply;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    padding: 55px;
}




.tabs-wrapper {
    width: 100%;
}

.tabs-wrapper input[type=radio] {
    display: none;
}

.methodTwo>ol>li {
    text-decoration: none !important;
}

.tabs-wrapper label {
    transition: all 0.3s ease-in-out;
    display: inline-block;
    cursor: pointer;
    color: #333333;
    width: 100% !important;
    height: 3em;
    background: #CCD4D4;
    text-align: center;
    line-height: 3em;
    font-weight: bold;
}

@media screen and (max-width: 1600px) {
    .tabs-wrapper label {
        width: 15%;
    }
}

@media screen and (max-width: 900px) {
    .tabs-wrapper label {
        width: 20%;
    }
}

@media screen and (max-width: 600px) {
    .tabs-wrapper label {
        width: 100%;
        display: block;
    }
}

.tabs-wrapper label:last-of-type {
    border-bottom: none;
}

.tabs-wrapper label:hover {
    background: #FF9211 !important;
}

.tabs-wrapper input[type=radio]:checked+label {
    background: #FF9211;
    color: #333333;
}

.tabs-wrapper .tab-body {
    position: absolute;
    top: -9999px;
    opacity: 0;
    padding: 10px;
    transition: opacity 0.5s ease-in;
}

.methodTwo>ol>li>img {
    display: inline-block !important;
    width: 300px !important;
    height: 300px !important;
    margin-bottom: 10px;
}

.methodTwo>ol>li>p {
    padding: 10px !important;
    margin-bottom: 100px;
}

.methodOne>ol,
.methodTwo>ol {
    padding: 0;
}

.methodTwo {
    text-align: center;
}

@media screen and (max-width: 600px) {
    .tabs-wrapper {
        margin: 0;
    }
}

.tab-body-wrapper {
    background: #F5F5F5;
    border-top: #FF9211 5px solid;
    text-align: left;
}

.methodOne>h3,
.methodTwo>h3 {
    font-weight: 700;
    text-align: center;
}

.methodOne>ol>li,
.methodTwo>ol>li {
    font-weight: 500;
    margin: 3vw 0px;
    text-decoration: none !important;
    list-style: none;
}

@media screen and (max-width: 600px) {
    .tab-body-wrapper {
        border: none;
    }
}

#tab1:checked~.tab-body-wrapper #tab-body-1,
#tab2:checked~.tab-body-wrapper #tab-body-2,
#tab3:checked~.tab-body-wrapper #tab-body-3,
#tab4:checked~.tab-body-wrapper #tab-body-4 {
    position: relative;
    top: 0px;
    opacity: 1;
}