body {
  color: #27363b;
  background: #FFFFFF;
  margin: 0 !important;
  padding: 0 !important;
}

.App {
  text-align: center;
  margin: 0 !important;
  padding: 0 !important;
}

.selector-for-some-widget {
  box-sizing: content-box;
}

* {
  font-family: 'Open Sans', sans-serif;
}

@media(max-width: 991px) {
  h1 {
    font-size: 7vw !important;
    margin-top: 20px;
  }
}