#requirements {
    background: #FFFFFF;
    padding: 50px 0px;
    height: auto;
    color: #1E1E1E;
    font-weight: 500;
    text-align: center;
}

.req-wrapper {
    max-width: 1140px;
    margin: 0 auto;
    height: auto;
    text-align: center;
    justify-content: center;
    padding: 5px 10px;
}



.header-banner-req>h1 {
    font-size: 3vw !important;
    letter-spacing: 1vw !important;
    color: #FFFFFF;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center !important;
    margin: 0 auto !important;
}

@media (max-width: 991px) {
    .header-banner-req>h1 {
        font-size: 5vw !important;
        margin-top: 30px !important;
    }

    .header-banner-req {
        padding: 50px 0px !important;
    }
}


.header-banner-req {
    background: url("../../../../../Images/ibanner.jpg");
    background-color: rgba(0, 0, 0, .6);
    background-blend-mode: multiply;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    padding: 50px 50px;
}

@media all {
    * {
        box-sizing: border-box;
    }

    .fusion-clearfix {
        clear: both;
        zoom: 1;
    }

    .fusion-clearfix:after,
    .fusion-clearfix:before {
        content: " ";
        display: table;
    }

    .fusion-clearfix:after {
        clear: both;
    }

    h2 {
        color: #5FAC1C;
        margin: 0 0 20px;
    }

    .post-content p {
        margin: 0 0 20px;
    }

    .fusion-row {
        margin: 0 auto;
        zoom: 1;
    }

    .fusion-row:after,
    .fusion-row:before {
        content: " ";
        display: table;
    }

    .fusion-row:after {
        clear: both;
    }

    strong {
        font-weight: 700;
    }

    .post-content p {
        margin-top: 0;
        margin-bottom: 20px;
    }
}

table {
    text-align: center !important;
}

td {
    text-align: center !important
}



@media all {
    #main .fusion-row {
        max-width: 1100px;
    }

    #main h2,
    .post-content h2 {
        font-family: Raleway;
        font-weight: 700;
        line-height: 1.5;
        letter-spacing: 0px;
        font-style: normal;
    }

    #wrapper .post-content h2 {
        font-size: 16px;
    }

    .post-content h2 {
        color: #5FAC1C;
    }

    h2 {
        margin-top: 0em;
        margin-bottom: 1.1em;
    }





    .fusion-clearfix {
        zoom: 1;
        clear: both;
    }

    .fusion-clearfix:after,
    .fusion-clearfix:before {
        content: " ";
        display: table;
    }

    .fusion-clearfix:after {
        clear: both;
    }

    .fusion-builder-row {
        width: 100%;
        margin: 0 auto;
    }

    .fusion-builder-row:after {
        clear: both;
        content: " ";
        display: table;
    }

    .fusion-fullwidth .fusion-row {
        position: relative;
        z-index: 10;
    }

    .fusion-column-first {
        clear: left;
    }

    #wrapper #main .fullwidth-box .fusion-row {
        padding-left: 0;
        padding-right: 0;
    }

    .fusion-layout-column {
        position: relative;
        float: left;
        margin-bottom: 20px;
    }

    .fusion-layout-column .fusion-column-wrapper {
        min-height: 1px;
    }

    .fusion-layout-column.fusion-one-fifth {
        width: 20%;
    }

    .fusion-layout-column.fusion-three-fifth {
        width: 60%;
    }

    .fusion-layout-column.fusion-column-last {
        margin-left: 0;
        margin-right: 0;
    }

    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {

        .fusion-layout-column.fusion-one-fifth,
        .fusion-layout-column.fusion-three-fifth {
            position: relative;
            margin-bottom: 20px;
            float: left;
            margin-right: 4%;
        }

        .fusion-layout-column.fusion-one-fifth {
            width: 16.8%;
        }

        .fusion-layout-column.fusion-three-fifth {
            width: 58.4%;
        }

        .fusion-layout-column.fusion-column-last {
            clear: right;
            zoom: 1;
            margin-left: 0;
            margin-right: 0;
        }
    }

    @media only screen and (max-width: 667px) {
        .fusion-layout-column {
            margin-left: 0 !important;
            margin-right: 0 !important;
        }

        .fusion-body .fusion-layout-column:not(.fusion-flex-column) {
            width: 100% !important;
        }
    }

    @media only screen and (max-width: 667px) {
        .fusion-responsive-typography-calculated {
            --minFontSize: calc(var(--typography_factor) * var(--base-font-size));
            --minViewportSize: 360;
            --maxViewportSize: var(--grid_main_break_point);
            font-size: calc((var(--fontSize) * 1px) - (var(--typography_sensitivity) * (var(--fontSize) - var(--minFontSize)) * (var(--minViewportSize) * 1px - 100vw))/ (var(--maxViewportSize) - var(--minViewportSize)) - (var(--fontSize) - var(--minFontSize)) * var(--typography_sensitivity) * 1px) !important;
        }

        .fusion-top-header .fusion-responsive-typography-calculated {
            --side_header_width: 0;
            --side_header_width-int: 0;
        }
    }

    @media only screen and (max-width: 667px) {
        .fusion-responsive-typography-calculated {
            --maxViewportSize: var(--content_break_point) !important;
        }
    }

    @media only screen and (max-width: 667px) {
        .fusion-layout-column:not(.fusion-flex-column) {
            margin-left: 0 !important;
            margin-right: 0 !important;
            width: 100% !important;
        }
    }

    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {

        .fusion-layout-column.fusion-one-fifth,
        .fusion-layout-column.fusion-three-fifth {
            position: relative;
            float: left;
            margin-right: 4%;
            margin-bottom: 20px;
        }

        .fusion-layout-column.fusion-one-fifth {
            width: 16.8%;
        }

        .fusion-layout-column.fusion-three-fifth {
            width: 58.4%;
        }

        .fusion-layout-column.fusion-column-last {
            zoom: 1;
            margin-left: 0;
            margin-right: 0;
            clear: right;
        }
    }

    .tablepress thead th {
        background-color: #32ba5f;
        width: 150px;
    }



    th {
        padding: 10px;
        text-align: center;
        font-weight: bold;
        font-size: 13px;
    }

    td {
        padding: 6px;
        text-align: left;
    }

    .tablepress thead th {
        background-color: #32ba5f;
    }

    #wrapper .post-content h2 {
        color: #5FAC1C;
    }


    .fusion-builder-row.fusion-row {
        max-width: 1100px;
    }
}

div.article {
    padding: 1vw;
}

.methodOne>ol>li {
    list-style: none;
}


#requirements p {
    font-weight: 500;
    width: 100%;
    text-align: justify;
}

#requirements p:after {
    /* this adds an extra invisible line, so any other line is justified */
    content: '';
    display: inline-block;
    vertical-align: top;
}

.post-content p {
    margin: 0 0 20px;
}