.navbar {
    background-color: #16113A !important;
    text-align: center;

}

#nav-body {
    max-width: 1140px;
    margin: 0 auto;
}


.nav-link {
    color: #00ADEF !important;
    padding: 5px 0px !important;
    margin-left: 1.6vw;
    font-weight: 500;
}

.nav-link:hover {
    color: aliceblue !important;
}