.navbar {
    background-color: #DFE8E7;
    text-align: center;
    padding-right: 0px;

}

@media (max-width: 991px) {
    .nav-link {
        color: #222A2F !important;
        padding: 5px 0px !important;
        margin-left: 1.6vw;
        font-weight: 700;
        font-size: 6vw;
        margin-top: 4vw;
        margin-bottom: 3.4vw;
    }

    #nav-body {
        padding-right: 10px !important;
        ;
    }
}

#nav-body {
    max-width: 1140px;
    margin: 0 auto;
    padding-right: 0px;
    ;
}


.nav-link {
    color: #222A2F !important;
    padding: 5px 0px !important;
    margin-left: 1.6vw;
    font-weight: 700;
}

.nav-link:hover {
    color: #2196F3 !important;
}