.nav-body {
    max-width: 1180px;
}

.navbar {
    margin-top: 1vw;
    background-color: transparent !important;
}

.navbar-nav {
    background-color: rgba(206, 208, 210, 0.3);
    padding: 10px 30px 10px 0px;
}

.nav-link {
    color: #222a2f !important;
    padding: 5px 0 !important;
    margin-left: 2vw;
    font-weight: 700;
}

.nav-link:hover {
    color: #5FAC1C !important;
}

.dropdown-menu {
    background-color: #F0F1F1;
}

.dropdown-item {
    color: #222a2f !important;
    padding: 5px 10px !important;
    font-weight: 700;
}

a.dropdown-item:hover {
    color: #5FAC1C;
}

@media (min-width: 992px) {
    .navbar-brand {
        padding-left: 7.05vw;
    }
}